<form class="example-form" (ngSubmit)="onSubmit(myForm.value)" #myForm="ngForm">
  <mat-form-field>
    <mat-label>Property State</mat-label>
    <mat-select name="State" [(ngModel)]="form.state">
      @for (state of states; track state.abbreviation) {
      <mat-option [value]="state.abbreviation">{{state.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Credit Score</mat-label>
    <mat-select name="CreditScore" [(ngModel)]="form.creditScore">
      @for (creditscore of creditscores; track creditscore.value) {
      <mat-option [value]="creditscore.value">{{creditscore.range}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Desired Loan Amount</mat-label>
    <input matInput placeholder="Ex. 100,000" [value]="form.loanAmount">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Estimated Property Value</mat-label>
    <input matInput placeholder="Ex. 650,0000" [value]="form.propertyValue">
  </mat-form-field>

  <div class="example-button-row">
    <button type="submit" class="g-recaptcha" data-sitekey="6Lf08MQqAAAAAGbQidBfm3NanIQvx4zVIT5F-pyn" data-callback='onSubmit'
      data-action='submit' mat-flat-button extended>
      Continue
    </button>
  </div>
</form>