<mat-form-field>
    <mat-label>{{label}}</mat-label>
    <input type="tel" name="phone" [maskito]="maskitoOptions" matInput [placeholder]="placeholder" [formControl]="phoneFormControl" [errorStateMatcher]="matcher"
        [value]="value" (change)="onChange($event)" />
    <mat-hint></mat-hint>
    @if (phoneFormControl.hasError('pattern') && !phoneFormControl.hasError('required')) {
    <mat-error>Please enter a valid phone number</mat-error>
    }
    @if (phoneFormControl.hasError('required')) {
    <mat-error>Phone number is <strong>required</strong></mat-error>
    }
</mat-form-field>